<!DOCTYPE html>
<html lang="en" ng-app="bravApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Brāv</title>
  <script src="js/browserDetection.js"></script>
  <link rel="icon" type="image/png" href="img/favicon.png">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,800' rel='stylesheet' type='text/css' />
  <!-- <link rel="icon" type="image/png" href="img/favicon.png" /> -->
  <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.3/css/froala_editor.min.css' rel='stylesheet' type='text/css'
  />
  <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.3/css/froala_style.min.css' rel='stylesheet' type='text/css'
  />

  <!-- Vatsal -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/loader.js"></script>


  <link rel="stylesheet" type="text/css" href="styles/sweetalert2.min.css" />
  <link rel="stylesheet" type="text/css" href="styles/medium-editor.min.css" />
  <link rel="stylesheet" type="text/css" href="styles/medium-editor-bootstrap.min.css" />

  <link rel="stylesheet" type="text/css" href="styles/md-data-table.min.css" />

  <link rel="stylesheet" type="text/css" href="styles/angular-material.min.css" />

  <!-- Tachyons related  -->
  <link rel="stylesheet" type="text/css" href="styles/tachyons-max-widths.min.css" />
  <!-- mw2 -->
  <link rel="stylesheet" type="text/css" href="styles/tachyons-widths.min.css" />
  <!-- w0..w5, w-50, vw-100 -->
  <link rel="stylesheet" type="text/css" href="styles/tachyons-heights.min.css" />
  <!-- h0..h5, h-50, vh-100 -->
  <link rel="stylesheet" type="text/css" href="styles/tachyons-skins.min.css" />
  <!-- black, white, bg-green -->
  <link rel="stylesheet" type="text/css" href="styles/tachyons-spacing.min.css" />
  <!-- ma2..pa2 -->
  <link rel="stylesheet" type="text/css" href="styles/tachyons-type-scale.min.css" />
  <!-- f1..f6 -->
  <link rel="stylesheet" type="text/css" href="styles/tachyons-box-shadow.min.css" />
  <!-- shadow-1 -->
  <link rel="stylesheet" type="text/css" href="styles/tachyons-overflow.min.css" />
  <!-- overflow -->
  <link rel="stylesheet" type="text/css" href="styles/tachyons-outlines.min.css" />
  <!-- outline-0 -->
  <link rel="stylesheet" type="text/css" href="styles/tachyons-borders.min.css" />
  <!-- ba1 -->
  <link rel="stylesheet" type="text/css" href="styles/tachyons-border-radius.min.css" />
  <!-- br3 -->

  <link rel="stylesheet" type="text/css" href="styles/trix.css" />
  <link rel="stylesheet" type="text/css" href="styles/a2k_custom_style.css" />

  <link rel="stylesheet" href="styles/bootstrap.css" type="text/css">

  <script src="js/dependencies/angular.js"></script>
  <!-- this is angular 1.4.0 non minified-->
  <script src="js/dependencies/angular-animate.min.js"></script>
  <script src="js/dependencies/angular-aria.min.js"></script>
  <script src="js/dependencies/angular-material.min.js"></script>

  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script src="js/dependencies/md-data-table.min.js"></script>
  <script src="js/dependencies/angular-messages.min.js"></script>
  <script src="js/dependencies/angular-route.js"></script>

  <script src="js/dependencies/sweetalert2.min.js"></script>
  <script src="js/dependencies/trix.js"></script>
  <script src="js/dependencies/angular-trix.min.js"></script>
  <script src="js/dependencies/clipboard.min.js"></script>
  <script src="js/dependencies/ngclipboard.min.js"></script>
  <script src="js/dependencies/swrtc_latest_v2.js"></script>
  <script src="js/dependencies/moment.min.js"></script>
  <script src="js/dependencies/utils.js"></script>
  <script src="pages/BravAuth/BravAuthModule.js"></script>
  <script src="pages/BravAuth/bravConfig.js"></script>

  <script src="<%= data.module %>">


  </script>
  <script src="<%= data.ctrls %>"></script>

  <!-- CaseServices start -->

  <!-- just to test commit for third time -->
  <script src="pages/CaseServices/caseServices.module.js">


  </script>
  <script src="pages/CaseServices/services/msApi.js">


  </script>
  <script src="pages/CaseServices/services/chatApi.js">


  </script>
  <script src="pages/CaseServices/services/caseApi.js">


  </script>

  <script src="pages/CaseServices/controllers/cases/allCasesCtrl.js">


  </script>
  <script src="pages/CaseServices/controllers/cases/createCasesCtrl.js">


  </script>

  <script src="pages/CaseServices/controllers/sessions/createSessionsCtrl.js">


  </script>
  <script src="pages/CaseServices/controllers/sessions/selectMediatorCtrl.js">


  </script>
  <script src="pages/CaseServices/controllers/sessions/allRequestsCtrl.js">


  </script>
  <script src="pages/CaseServices/controllers/sessions/calendarCtrl.js">


  </script>
  <script src="pages/CaseServices/controllers/sessions/allSessionsCtrl.js">


  </script>
  <script src="pages/CaseServices/controllers/sessions/sessionsRequestCtrl.js">


  </script>
  <script src="pages/CaseServices/controllers/sessions/mediationSessionCtrl.js">


  </script>
  <script src="pages/CaseServices/controllers/sessions/test_sessionCtrl.js">


  </script>

  <!-- CaseServices end -->

  <!-- Agreements start -->

  <script src="pages/Agreement/agreement.module.js">


  </script>
  <script src="pages/Agreement/controllers/agreementCreateCtrl.js">


  </script>
  <script src="pages/Agreement/controllers/draftAgreementsListCtrl.js">


  </script>
  <script src="pages/Agreement/controllers/read/agreementReadCtrl.js">


  </script>
  <script src="pages/Agreement/controllers/read/agreementSigningRequestsListCtrl.js">


  </script>
  <script src="pages/Agreement/controllers/read/sharedAgreementsListCtrl.js">


  </script>
  <script src="pages/Agreement/controllers/read/signedAgreementsListCtrl.js">


  </script>

  <!-- Agreements end -->

  <!-- Payment end -->
  <script src="pages/Payments/payment.module.js">


  </script>
  <script src="pages/Payments/payment.easy.js">


  </script>
  <!-- Payment end -->

  <!-- Note View Start -->
  <script src="pages/note/note.module.js">


  </script>
  <script src="pages/note/noteCtrl.js">


  </script>
  <!-- Note View End -->

  <style>
    md-toolbar {
      box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28) !important;
    }

    body {
      font-family: 'Raleway', sans-serif !important;
    }

    h1 {
      font-weight: 800 !important;
    }

    p, span, label{
      font-weight: 400 !important;
    }

    .logo.new--brand-img {
      width: 90px !important;
      height: 70px !important;
    }

    .new--header-icons {
      min-width: 10px;
    }

    .new--dropdown-icons {
      width: 10px;
      height: 10px;
    }

    .new--remove-btton-style {
      min-width: 45px;
    }
    .container {
      padding-right: 30px;
      padding-left: 30px;
      margin-left: 80px;
      margin-right: auto;
    }

    .md-primary, input, multi-selection, md-select {
      background-color: #ebebeb !important;
/*      height: 36px !important;*/
      /*width: 100% !important;*/
      border-radius: 3px !important; 
      border: 0 !important;
      display: block !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    div.right-side-panel {
      margin-left: 0px;
    }

    div.col-sm-2.padding-zero.user-account {
      padding: 0px;
    }

    .create-availability {
      padding-left: 0px;
    }

    .button {
      font-weight: bold !important;
    }

    .button span {
      font-weight: bold !important;
    }

    .md-primary.button span {
      color: #ebebeb;
    }

    .md-primary.button {
      background-color: #598ebf !important;
      padding-left: 15px;
      padding-right: 15px;
    }

    div.md-errors-spacer {
       min-height: 15px;
    }

    .clicked {
      background-color: #a7a9ab;
    }

    a.md-button:not([disabled]):hover {
      background-color: transparent;
    }

    .buttons-in-row-left {
      margin-right: 10px !important;
    }

    .buttons-in-row-right {
      margin-left: 10px !important;
    }

    p.contact {
      font-weight: 700 !important;
    }

  </style>
</head>

<body ng-controller="indexCtrl" layout="column">

  <div class='preloader'>
    <div class='loader'>
      <div class='loader--text'></div>
    </div>
  </div>


  <md-toolbar layout="row" layout-align="center center" calss="new--header">
    <div class="custom-header">
      <div class="top-header">
        <img src="img/larger-logo.png" alt="Brāv" class="logo new--brand-img">

      </div>
      <div class="top-header-right">
        <ul style="margin-top: -2px; font-size: 14px;font-weight:400;letter-spacing:0; ">
          <md-button aria-label="Chat" ng-if="showChatIcon" ng-click="toggleChatNav()" style="padding-left: 0px; margin-left: 0px; min-width: 0px;">
            <img src="img/Icons/chat.png" class="header-img" alt="chat" id="chat">
          </md-button>
          <li>
            <a href="#" id="chat">
              <img src="img/Icons/Comments.png" alt="comments" class="header-img" />
              </a/> </li>
          <li>
            <a href="#/note/create" id="notes">
              <img src="img/Icons/Note-create.png" alt="note-create" class="header-img" />
            </a>
          </li>
          <li>
            <a href="#" id="alert-msg">
              <img src="img/Icons/Notification.png" alt="notification" class="header-img" />
            </a>
          </li>
          <li>
            <md-menu>
              <md-button aria-label="Options" ng-click="$mdOpenMenu()" style="padding-left: 0px; margin-left: 0px; min-width: 0px;">
                <img src="img/user-img.jpg" class="user-img" alt="user">
              </md-button>

              <md-menu-content width="10" class="profile-edit">
                <md-menu-item md-menu-align-target>
                  <md-button ng-href="#/profile">
                    Your Account
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="logout()" ng-href="#">
                    Logout
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </li>
        </ul>
      </div>
    </div>
  </md-toolbar>

  <md-content ng-controller="sidebarLinksCtrl" ng-init="loadSideBarLinks()" layout="row" flex>
    <md-sidenav class="md-sidenav-left white" md-component-id="left" md-whiteframe="4" md-is-locked-open="true" style="overflow:auto;z-index:0;width: 90px !important;">
      <md-list flex class="pa2">
        <md-list-item ng-click="callOpenSideNavFromParent(link)" aria-label="{{link.title}}" ng-repeat-start="link in links" ng-if="!link.disable">

          <md-button class="new--remove-btton-style" ng-href="{{link.href}}" ng-click="openSideNav(link, $index)" ng-class="{clicked: $index==clickedLinkIndex}">
            <img ng-src="{{link.src}}" class="pa1 ma0" width="40" height="40" />
            <md-tooltip md-direction="right" class="large f3 white">{{link.title}}</md-tooltip>
            <img ng-show="link.open" src="img/Icons/angle-down.png" height="10px" width="10px" />
          </md-button>

        </md-list-item>

        <md-list-item ng-show="outOfNav && link.open" ng-repeat-end ng-repeat="sublink in link.sub" aria-label="{{sublink.title}}" style="margin-left:10px;">
          <md-button style="margin: 0px; padding: 0px; min-width: 65px;" ng-class="{clicked: $index==clickedSublinkIndex}" ng-click="buttonClicked($index)">
            <a ng-href="{{sublink.href}}">
              <img ng-src="{{sublink.src}}" class="pa1 ma0" width="40" height="40" />
              <md-tooltip md-direction="right" class="large f3 white">{{sublink.title}}</md-tooltip>
            </a>
          </md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <md-content flex ng-init="onload()" class="ph2 brav-bg">
      <div ng-view flex>
      </div>
    </md-content>

  </md-content>

  </div>
</body>

</html>
